SETUP_PROJECT/
# Python
__pycache__/
*.pyc
.env
.venv/
SCRIPTS.PY
#config
config/

# Data
/data/raw/
/data/processed/
my_project\data/

.gitignore
.gitattributes
# model artifacts
*.pth
*.pkl
*.png
experiments/config/predict_model/
.vscode/
*.mp4
.gitignore
*.pt
*zip