pandas
numpy
scikit-learn
joblib 
pyyaml
matplotlib
pytest
nbdime
prefetch-generator
tqdm
pyarrow
paho-mqtt
gymnasium
"gymnasium[classic_control]"
imageio 
pillow
imageio[ffmpeg]
mujoco
gymnasium[mujoco]
dm-control
stable-baselines3